# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/

# IDEs
.idea/
.vscode/
*.iml
